.homepage{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(245, 243, 241);
    width: 100%;
    height: 100vh;
    border-style: double;
}

.marquee{ 
    border: 3px solid #ccc ;
}