.login{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(245, 243, 241);
    width:30%;
    margin-left: 35%;
    margin-top: 200px;
    border-style: double;
}
.register{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(245, 243, 241);
    width:30% auto;
    margin-left: 35%;
    margin-right: 35%;

    margin-top: 200px;
    border-style: double;
}
.button-ex1{
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background-color: #000;
    color: #fff;

    border: 1px solid #000;
    transition: all .3s linear;
}
.button-ex1:hover{
    color: #fff;
    background-color: rgb(104, 103, 103);
}
